{% extends '_template.html.twig' %}
{# PAGE D'ACCUEIL BACK_OFFICE #}

{% block title %}
	admin categorie
{% endblock %}

{% block body %}
	<div class="section">
		<h1 class="title">liste des categories</h1>
		<a href="#" class="btn btn-sucess">
			Ajouter un categorie
		</a>


		<table class="table ">
			<thead>
				<tr>
					<th>#</th>
					<th>Nom</th>
					<th>Annonces
					</th>

				</tr>
			</thead>
			<tBody>

				{% for category in categories %}
					<tr>
						<td>{{  category.id}}</td>

						<td>
							{{  category.nom |slice(0,15)}}
						</td>
						<td>
							{{  category.annonce.}}
						</td>

						<td>
							{#
																																			<div>
																																				<a href="{{ path('edit_category',{id:category.id}) }}" class="button is-success">Modifier</a>
																																				<a href="{{ path('delete_category',{id:category.id}) }}" class="button is-danger">Supprimer</a>
																																			</div>
																																			
																																			                        #}

						</td>
					</tr>

				{% endfor %}


			</tbody>
		</table>
	</div>


{% endblock %}
